.hero{
	img{
		width 100%
		position absolute
		top 0
	}
	display:none!important;
}
.navbar{
	 display:none!important;
	}
body{
	// background:#CCCCCC;
	// width:100vw;
	// height:100vh;
	// background:url(../public/bgH.jpg);
}
.home{
	padding:0;
	max-width:none;
}
.page .theme-default-content{
	max-width:none!important;
	padding: 0 200px!important;
}